.nav {
    background-color: blue;
    display: flex;
    align-items: center;
}
.nav p {
    margin: 0;
    color: white;
    font-weight: bold;
}
.nav img {
    margin: .5%;
}
img {
    margin: 0 .5%;
    height: 25px;
}
.main-container {
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
select {
    border-radius: .3rem;
    padding: .5rem;
}
.select-container {
    margin: 1rem 0;
    gap: .5rem;
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
}
button {
    width: 100%;
}
.sidebar {
    z-index: -1;
    padding: 1rem;
    font-weight: 500;
    width: 20%;
    height: 95%;
    top: 5%;
    right: 0;
    position: absolute;
    background-color: lightblue;
}
@media screen and (max-width: 768px) {
    .main-container {
        width: 90%;
    }
}