.input-container {
    display: flex;
    background-color: orange;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: column;
    margin: auto;
}
label {
    margin: .3rem;
    display: inline-block;
    font-weight: bold;
}
input {
    text-align: center;
}
input::-webkit-inner-spin-button {
    appearance: none;
}
.btn {
    border-radius: 3rem;
}